<% if (typeof mensaje !== 'undefined') { %>
  <div id="modalMensaje" class="modal" style="display:block;">
    <div class="modal-content">
      <p><%= mensaje %></p>
      <button onclick="cerrarModal()">Cerrar</button>
    </div>
  </div>
<% } %>

<style>
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
  }
</style>

<script>
  function cerrarModal() {
    document.getElementById("modalMensaje").style.display = "none";
  }
</script>
