<footer class="footer text-white text-center" style="position: fixed; bottom: 0; width: 100%; background-color: #f2ab23;">
    <div class="container">
        <span>&copy; 2025 Express Project. All rights reserved.</span>
    </div>
</footer>   